body {
    background: azure;
}

h1 {
    color: black;
    text-align: center;
}

a:hover {
    color: chartreuse;
}

div {
    background: azure;
}

.thumb:hover {
    transform: scale(1.6);
    display: block;
    width: 200px;
}
